body { 
    margin: 0; 
    font-family: 'Poppins', sans-serif;
}

.light-gray-dropshadow {
    filter: drop-shadow(4px 6px 2px #bbbbbb);
}

.body-wrapper {
    margin: 0;
    display: flex;
}

#div_ui {
    position: absolute;
    left: 10px;
    top: 10px;
}

.title {
    font-size: 100px;
    width: auto;
    margin: 0;
}

#jsonStringInput {
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.button {
    margin-top: 20px;
    padding: 5px 10px;
    font-size: 30px;
    width: auto;
    background-color: #242424;
    color: #ffffff;
    border-radius: 10px;
}

#button_generate_json:hover {
    background-color: #484848;
}

#button_generate_demohouse:hover {
    background-color: #484848;
}