<div class="div-room-parameter-grid-2col">

    <!-- Relationship Settings -->
    <div class="div-room-relationship-dropdowns">

        <div class="div-room-relationship-row">
            <!-- Dropdown Room 1 -->
            <select class="dropdown-room-relationship-value-room1 dropdown-room-relationship-value-room dropdown-room-relationship-value white-text">
                <option value="undefined" class="option-room" selected>Select Room</option>
            </select>

            <div class="div-room-relationship-text">should be</div>
        </div>

        <div class="div-room-relationship-row">
            <!-- Dropdown Relationship Type -->
            <select class="dropdown-room-relationship-value-type dropdown-room-relationship-value white-text">
                <option value="0" selected>close to</option>
                <option value="1">far away from</option>
                <option value="2">connected to</option>
                <option value="3">merged with</option>
            </select>

            <div class="div-room-relationship-text">the</div>
        </div>

        <div class="div-room-relationship-row">
            <!-- Dropdown Room 1 -->
            <select class="dropdown-room-relationship-value-room2 dropdown-room-relationship-value-room dropdown-room-relationship-value white-text">
                <option value="undefined" class="option-room" selected>Select Room</option>
            </select>
        </div>
    </div>

    <!-- Relationship Weight -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-room-relationship-weight">
    </div>

</div>