<!-- Room Type -->
<span class="room-type" style="display: none;">15</span>
<!-- Room ID -->
<span class="room-id" style="display: none;"></span>

<!-- Icon & Room Name -->
<div class="div-room-top">
    <div class="div-img-room-expand-icon cursor-pointer">
        <img src="./src/images/plus_icon.png" alt="Expand Icon" class="img-room-expand-icon">
    </div>
    <div class="div-room-name flexbox-and-center white-text">Guest Room</div>
</div>
<!-- Parameter Grid -->
<div class="div-room-parameter-grid">
     <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Room Size</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <input type="text" class="inp-parameter-value-room-size inp-parameter-value white-text blue-background" placeholder="10">
        <div class="div-parameter-value-unit white-text flexbox-and-center">m<sup>2</sup></div>
    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-room-size slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Floor Level</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <select class="dropdown-parameter-value-floor-level dropdown-parameter-value white-text">
            <option value="-1">Basement</option>
            <option value="0" selected>1st Floor</option>
            <option value="1">2nd Floor</option>
            <option value="2">3rd Floor</option>
        </select>
    </div>

    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-floor-level slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Room Temperature</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <input type="text" class="inp-parameter-value-room-temperature inp-parameter-value white-text blue-background" placeholder="20">
        <div class="div-parameter-value-unit white-text flexbox-and-center">°C</div>
    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-room-temperature slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Heated</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <input type="checkbox" class="checkbox-parameter-value-is-heated checkbox-parameter-value">
    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-is-heated slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Illumination</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">

    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-illumination slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Roof Type</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <select class="dropdown-parameter-value-roof-type dropdown-parameter-value white-text">
            <option value="0">Gable Roof</option>
            <option value="1">Hipped Roof</option>
            <option value="2">Mansard Roof</option>
            <option value="3">Flat Roof</option>
        </select>
    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-roof-type slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Floor Material</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">
        <select class="dropdown-parameter-value-floor-material dropdown-parameter-value white-text">
            <option value="0">Carpet</option>
            <option value="1">Tile</option>
            <option value="2">Parquet</option>
            <option value="3">Laminate</option>
            <option value="4">Wood</option>
            <option value="5">PVC</option>
            <option value="6">Linoleum</option>
        </select>
    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-floor-material slider-parameter-weight">
    </div>



    <!-- Name -->
    <div class="div-parameter-name">
        <div class="div-parameter-name-text">Amount of Windows</div>
        <div class="div-parameter-name-help-icon">
            <img src="./src/images/help_icon.svg" alt="Help Icon" class="img-parameter-name-help-icon">
        </div>
    </div>

    <!-- Value/Input -->
    <div class="div-parameter-value-wrapper">

    </div>
    
    <!-- Weight Slider -->
    <div class="flexbox-and-center">
        <input type="range" min="0" max="10" value="5" step="1" class="slider-parameter-weight-window-amount slider-parameter-weight">
    </div>
</div>